.dye-primary {
  background-color: $primary;
}

.dye-primary-light {
  background-color: $primary-light;
}

.dye-primary-dark {
  background-color: $primary-dark;
}

.dye-accent {
  background-color: $accent;
}

.dye-accent-light {
  background-color: $accent-light;
}

.dye-accent-dark {
  background-color: $accent-dark;
}

.dye-white {
  background-color: white;
}
